{:objects
 {:Tick
  {:description "A subscription response."
   :fields
   {:timeMs {:type String
             :description "Time when tick is emitted (as string-ified long milliseconds since epoch)."}
    :count {:type Int
            :description "Countdown on number of ticks after this one (e.g., 0 is the last tick before the subscription closes)."}}}

  :Query
  {:fields
   {:hello
    {:description "Simplest possible query."
     :type String}}}

  :Subscription
  {:fields
   {:ticks
    {:type :Tick
     :args
     {:count {:type Int
              :default-value 5
              :description "Number of ticks to send via subscription."}}}}}}}
